body{
    margin: 0;
    padding: 0;
}
header{
    background-color:black;
}
header .nav{
    display: block;
    height: 80px;
}
header ul {
    float: right;
    margin: 40px;
}
header ul li{
    display: inline;
    padding: 40px;
    color: white;
}
.nav-2{
    display:block;
    margin:10px;
    color: white;
   }
   .nav-2 div{
       display: inline-block;
   }
   .nav-2 .rigt{
       float:right;
   }
   .rigt{
       padding-left: 900px;
   }
